:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.active{
  color: #0288f9;

  border-bottom: 4px solid #0288f9;
}

.container-centered{
    margin-left: auto;
    margin-right: auto;
    
    width: 70%;
}

.blue-btn{
  padding: 10px 20px;

  border-style: none;

  background-color: #0288f9;

  color: white;

  font-weight: bold;

  cursor: pointer;
}